<div align="right">
  <a href="https://bing.com/"><img src="{{site.url}}/../assets/bing.svg" height="20"></a> &nbsp;<a href="https://google.com/"><img src="{{site.url}}/../assets/google.svg" height="20"></a> &nbsp;<a href="https://duckduckgo.com/"><img src="{{site.url}}/../assets/duckduckgo.svg" height="20"></a> &nbsp; 
 &nbsp;</div>
<span style="text-align: center; background-color: darkgray;"> •  &nbsp;&nbsp; •  &nbsp;&nbsp; •  &nbsp;<a href="{{site.url}}">home</a>&nbsp; •  &nbsp;<a href="#">up &uarr;</a>&nbsp; •  &nbsp;&nbsp; •  &nbsp;&nbsp; • </span>
<footer class="site-footer h-card" style="background-color: #414040;">
  <div class="footer-row footer-row-2">
    {%- include social.html -%}
  </div>
</footer>