<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="3;{{ site.url }}">
    <!-- 
      <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    -->
    <link rel="stylesheet" href="https://web.lunarviews.net/assets/main.css">
    <link rel="me" type="text/html" href="https://mamot.fr/@oggy" />
    <link rel="me" type="text/html" href="https://defcon.social/@rnek0" />
    <link rel="icon" type="image/x-icon" href="https://web.lunarviews.net/assets/favicon.ico">
    <!-- rnek0 on https://web.lunarviews.net -->
  </head>
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        
          {{ content }}
        
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
